# Server Configuration
PORT=5001

# Authentication
JWT_SECRET=your_jwt_secret_here

# Database
# Connect your MongoDB Atlas cluster and paste the URI below
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/urban_sanctuary?retryWrites=true&w=majority
